.Loading {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.Loading-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

.fade-loading-leave {
  opacity: 1;
}

.fade-loading-leave.fade-loading-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
