.App {
  background-color: #000000;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

.App-header {
  background-color: #323232;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 5vh;
  padding-right: 5vh;
}

.App-social-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 5vh;
}

.App-social-box > div {
  display: block;
}

.App-social-logo {
  height: 5vmin;
}

.fade-1-appear {
  opacity: 0.01;
}

.fade-1-appear.fade-1-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
  transition-delay: .5s;
}

.fade-2-appear {
  opacity: 0.01;
}

.fade-2-appear.fade-2-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
  transition-delay: 1s;
}

.fade-3-appear {
  opacity: 0.01;
}

.fade-3-appear.fade-3-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
  transition-delay: 1.5s;
}

.fade-4-appear {
  opacity: 0.01;
}

.fade-4-appear.fade-4-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
  transition-delay: 2s;
}